#options {
    width: 200px;
    height: 600px;
    float: left;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .base {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .topping {
    width: 60px;
    margin-bottom: 10px;
  }
  
  #pizza-container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  #empty-circle {
    border: 2px dashed #ccc;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropzone {
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
  }
  
  #pizza {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
  #pizza img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #pizza-toppings {
    z-index: 2;
  }
  